<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/dashboard.css">
</head>
<body>
<div class="header">
    <h1 style="color: aliceblue;">Fed Choice Bank</h1>
<ul>
  <div class="dropdown">
    <button class="dropbtn"><a style="color: black; text-decoration: none;" href="home">Home</a>
    </button>
  </div>
<div class="dropdown">
  <button class="dropbtn">Customer Management&nbsp;<li class="arrow down"></li></button>
  <div class="dropdown-content">
  <a href="createcustomer">Create Customer</a>
  <a href="customer_search">Update Customer</a>
  <a href="deletecustomer">Delete Customer</a>
  <a href="customerstatus">Customer Status</a>
  </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Account Management&nbsp;<li class="arrow down"></li></button>
    <div class="dropdown-content">
  <a href="createaccount">Create Account</a>
  <a href="deleteaccount">Delete Account</a>
  <a href="accountstatus">Account Status</a>
  </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Status Details&nbsp;<li class="arrow down"></li></button>
    <div class="dropdown-content">
  <a href="#">Link 1</a>
  <a href="#">Link 2</a>
  <a href="#">Link 3</a>
  </div>
</div>
<div class="dropdown">
    <button class="dropbtn">Account Operations&nbsp;<li class="arrow down"></li></button>
    <div class="dropdown-content">
  <a href="depositmoney">Deposit Money</a>
  <a href="withdrawmoney">Withdraw Money</a>
  <a href="transfermoney">Transfer Money</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn"><a style="color: black; text-decoration: none;" href="logout">Logout</a>
  </button>
</div>
</ul>
</div>
</body>
<style>
  #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 110%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:yellow;
    color: black;
  }
  </style>
<div class="main">
  <h3><center>Account Status</center></h3>
  <table id=customers>
    <tr>
      <th>Customer Id</th>
      <th>Account ID</th>
      <th>Account Type</th>
      <th>Status</th>
      <th>Message</th>
      <th>lastupdated</th>
      <th>Operation</th>
      <th>View Profile</th>
    </tr>
    <h3><center style="color: red;">{{mes}}</center></h3>
    {% for user in userdetails %}
    <tr>
        <td>{{user[0]}}</td>
        <td>{{user[1]}}</td>
        <td>{{user[2]}}</td>
        <td>{{user[3]}}</td>
        <td>{{user[4]}}</td>
        <td>{{user[5]}}</td>
        <td><a  href="/accountstatus">Refresh</a></td>
        <td><a  href="#">View Details</a></td>
    </tr>
    {% endfor %}
</table>
</div>

<div class="footer">
<div class="row">
  <div class="column3" style="background-color:black;">
  </div>
<div class="row">
  <div class="column" style="background-color:black;">
    <h3>About us</h3>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:black;">
    <h3>Services</h3>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:black;">
    <h3>Contact us</h3>
    <p>Some text..</p>
  </div>
</div></div>

</body>
</html> 
